.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-links a {
  color: black;
  font-weight: bold;
  transition: color 0.3s;
  padding-bottom: 5px; /* Add padding for the border effect */
}

.navbar-links a:hover {
  color: #187bd7;
  border-bottom: 2px solid #187bd7;
}

.search-label {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.search-input {
  border: none;
  outline: none;
  margin-right: 0.5rem; /* Use margin-right instead of left */
}

.menu-toggle {
  display: none; /* Hidden by default on large screens */
  font-size: 1.5rem;
  cursor: pointer;
}


/* --- Responsive Styles --- */
@media (max-width: 850px) { /* Breakpoint for tablets and phones */
  .navbar-links {
    display: none; /* Hide the links by default */
    flex-direction: column;
    position: absolute;
    top: 74px; /* Height of the navbar */
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    gap: 1rem;
  }

  .navbar-links.active {
    display: flex; /* Show the menu when active */
  }

  .navbar-links a:hover {
    border-bottom: none; /* Remove border on hover for mobile menu */
  }
  
  .search-label {
    width: 80%;
    justify-content: center;
  }
  .search-input {
    width: 100%;
  }

  .menu-toggle {
    display: block; /* Show the hamburger icon */
  }
}